@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Changa:wght@200;300;400&display=swap');

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  height: 65px;
  position: sticky;
  top: 0px;
}

.logoContainer {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  margin-left: 2rem;
  width: 55px;
  height: 55px;
}

.logo {
  display: flex;
  align-items: center;
  width: 60px;
  height: 55px;
  background-color: #1a1a1a;
}

.navBar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #1a1a1a;
}

.logoLink {
  font-family: 'Changa', sans-serif;
  text-decoration: none;
  background-color: #1a1a1a;
}

.link {
  color: #d7dadc;
  font-family: 'Changa', sans-serif;
  font-size: 18px;
  text-decoration: none;
  background-color: #1a1a1a;
}

.navBtnContainer {
  margin-right: 2rem;
  display: flex;
  gap: 20px;
  background-color: #1a1a1a;
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: lightblue;
  border: 2px inset tomato;
  color: black;
  font-family: 'Changa', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.navBtn:hover {
  background-color: #58c7fd;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #58c7fd;
  cursor: pointer;
}

.link:active,
.navBtn:active {
  color: tomato;
  text-decoration: none;
}

.main {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 50px;
  color: #58c7fd;
  font-family: 'Bungee Spice', sans-serif;
  font-weight: bold;
  font-size: 42px;
}

.username {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Changa', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.password {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  font-family: 'Changa', sans-serif;
}

.username:focus,
.password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #25a8ea, lightblue);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Changa', sans-serif;
  margin-left: 35%;
  font-size: 16px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  
}

.submit:hover {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: tomato;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}



